.xApp {
  text-align: center;
}
xbody{
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}


.xApp-header {
  background-color: #cc4e13;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

